.container {
  max-width: 1626px;
  padding: 0 30px;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.flex {
  display: flex;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.section-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: var(--dark-color);
}

.section-title--center{
  text-align: center;
  max-width: none;
}

.section-link{
  padding: 18px 30px;
  border-radius: 24px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  display: inline-block;
}