.footer {
  padding-top: 125px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.footer__title {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 32px;
  margin-bottom: 32px;
  color: #100E0B;
  position: relative;
}

.footer__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 1px;
  background-color: #57A773;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link {
  font-weight: 500;
  font-size: 13px;
  color: #959EA6;
}

.footer__form {
  display: flex;
  flex-direction: column;
  width: 368px;
}

.footer__field {
  position: relative;
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  outline: transparent;
  margin-bottom: 16px;
  background-image: url(/img/user.svg);
  background-position: calc(100% - 31px) center;
  background-repeat: no-repeat;
}

.footer__btn {
  padding: 25px 0;
  border-radius: 8px;
  background-color: var(--neptune-color);
  color: var(--white-color);
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__bottom {
  padding: 32px 0;
  font-family: 'SFProText-Regular', sans-serif;
  color: #959EA6;
  font-weight: 400;
  font-size: 13px;
  border-top: 1px solid #959EA6;
}

.footer__bottom-container {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
}

.footer__links-item:not(:last-child) {
  margin-right: 30px;
}
