.hero {
  height: 100vh;
  min-height: 660px;
  background-image: url(/img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);

}

.hero__link {
  background-color: rgb(28, 46, 61, 0.4);
  margin-bottom: 40px;
}

.hero__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 80px;
  line-height: 84px;
  max-width: 600px;
}

.hero__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 32%;
  margin-bottom: 60px;
  font-family: 'SFCompact', sans-serif;
}

.hero__btn {
  background-color: var(--orange-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  padding: 33px 80px;
  border-radius: 8px;
  position: relative;
  z-index: 5;
  transition: background-color 0.3s;
}

.hero__btn:hover {
  background-color: var(--orange-hover-color);
  transition: background-color 0.3s;
}


.hero__container {
  position: relative;
  height: 100%;
  padding-top: 215px;
  padding-bottom: 200px;
}

.hero__bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: calc(100% - 60px);
  display: flex;
  align-items: flex-end;

}

.search-form {
  flex-shrink: 0;
  width: 68%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  height: 120px;

}

.search-form__field {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: var(--dark-color);
  padding-left: 50px;
  padding-right: 100px;
  outline: none;
}

.search-form__button {
  width: 18px;
  height: 18px;
  background-image: url(/img/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 62px;
  top: 50%;
  transform: translateY(-50%);
}

.main-slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 0;
}

.main-slider__text {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neptune-color);
  color: var(--white-color);
  font-weight: 800;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main__slider-media{
  position: relative;
}

.main-slider__play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 32px;
  height: 40px;
  background-image: url(/img/hero-play.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-height: 1079){
  .hero__container{
    padding: 120px 30px;
  }
}
@media (max-height: 880px){
  .hero__container{
    padding: 80px 30px;
  }

  .hero__link{
    margin-bottom: 30px;
  }
  .hero__title{
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
  }
  .hero__description{
    margin-bottom: 30px;
  }

  .hero__btn{
    padding: 20px 40px;
  }

  .search-form{
    height: 60px;
  }

  .main-slider__text{
    height: 60px;
  }

}