.slider-container {
  margin-top: 150px;
  width: 100%;
}

.swiper-slide {
  background: #e3e3e3;
  border-radius: 8px;
  min-height: 550px;
  width: 890px;
  transition: transform 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-slide--1 {
  background-image: url(/img/featured-slide-1.jpg);
}

.swiper-slide--2 {
  background-image: url(/img/featured-slide-2.jpg)
}

.swiper-slide--3 {
  background-image: url(/img/featured-slide-3.jpg)
}

.swiper-slide--4 {
  background-image: url(/img/featured-slide-1.jpg)
}

.swiper-slide-active {
  transform: scaleX(1.16) scaleY(1.2);
  transition: transform 0.3s;
}

.swiper-slide-active::after {
  opacity: 1;
}



.featured-videos {
  padding-top: 150px;
  padding-bottom: 150px;
}

.featured-videos__description {
  font-family: 'SFCompact', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  max-width: 634px;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
}

.featured-videos__title {
  margin-bottom: 24px;
}

.slide-title {
  z-index: 5;
  font-weight: 700;
  font-size: 28px;
  color: var(--white-color);
  padding-left: 40px;
  padding-bottom: 40px;
  transition: transform 0.3s;
  transform: translateY(200px);
}

.swiper-slide-active .slide-title{
  transition: transform 0.3s;
  transform: translateY(0);
}

.slide-play{
  background-image: url(/img/slide-play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 112px;
  height: 112px;
  z-index: 5;
  position: absolute;
  left: 40px;
  top: 40px;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}